In [2]:
import pandas as pd

In [4]:
s = pd.Series([10,20,30])
print(s)

0    10
1    20
2    30
dtype: int64

In [7]:
data = {
    'nama' : ['Kevin', 'Syamil', 'Zaka'],
    'grade' : ['A', 'B', 'B']
}

df = pd.DataFrame(data)
print(df)

     nama grade
0   Kevin     A
1  Syamil     B
2    Zaka     B

In [63]:
df = pd.read_csv('pw.csv', delimiter=';')
print(df)
# print(df[['Location', 'Access code']])
# print(df.head())
# print(df.tail(2))
# print(df.info())
# print(df.describe())

   Identifier Access code Recovery code First name Last name   Department  \
0        9012      12se74        rb9012     Rachel    Booker        Sales
1        2070      04ap67        lg2070      Laura      Grey        Depot
2        4081      30no86        cj4081      Craig   Johnson        Depot
3        9346      14ju73        mj9346       Mary   Jenkins  Engineering
4        5079      09ja61        js5079      Jamie     Smith  Engineering

     Location
0  Manchester
1      London
2      London
3  Manchester
4  Manchester

In [41]:
print(df[['Access code', 'Recovery code']])

  Access code Recovery code
0      12se74        rb9012
1      04ap67        lg2070
2      30no86        cj4081
3      14ju73        mj9346
4      09ja61        js5079

In [45]:
print(df[0:1])

   Identifier Access code Recovery code First name Last name Department  \
0        9012      12se74        rb9012     Rachel    Booker      Sales

     Location
0  Manchester

In [81]:
df.index = ['9012', '2070', '4081', '9346', '5079']
# print(df.loc['5079'])
# print(df.iloc[[4]])
# print(df.loc[['5079', '9012']])
# print(df.loc[['5079', '9012'],['Access code', 'Location']])
# print(df.iloc[[4,0],[1,6]])
# print(df.loc[:, 'Department'])
# print(df.iloc[:, 1:3])
# print(df.loc[:, ['Department', 'Location']])
print(df.iloc[1:3, 1:3])

     Access code Recovery code
2070      04ap67        lg2070
4081      30no86        cj4081

In [11]:
df = pd.read_csv('data.csv')
print(df)

    Nama  Usia  Suhu
0   Andi    22  36.5
1   Budi    24  37.8
2  Citra    20  38.1